# Virtual environment
.venv/

# Environment variables file
.env

# Account credentials and token files
token.json
credentials.json
*.csv
*.db

# Ignore common IDE and editor files
__pycache__/
.vscode/
*.pyc